mixin about()
	section.about#about&attributes(attributes)
		h2._title надоели однообразные праздники и корпоративы?
		._text Не беда! Приходите к нам в клуб и вы больше не захотите вспоминать о скучных, занудных посиделках в кафе, дома или в офисе. Почувствуйте свободу, веселье, азарт, дружелюбную обстановку, играя в пейнтбол в любое время года. За 15 лет работы клуба, мы уверены в 100% восторге гостей.
		._text <span class="red">EXTREME BASE</span> — это уникальная возможность удивить своих близких и коллег по работе, пригласив их в клуб. Отдых на природе, адреналин, праздник с детьми или без, возможность пригласить неограниченное количество гостей — все останутся довольны. Вы можете играть в пейнтбол или просто отдохнуть на природе с друзьями. Развитая инфраструктура, различные тарифы и доступные цены — это все для вашего удобства.
		._row
			img._img(src="assets/images/about/1.jpg" alt="")
			img._img(src="assets/images/about/2.jpg" alt="")
			img._img(src="assets/images/about/3.jpg" alt="")