mixin features()
	.features&attributes(attributes)
		._item
			._icon-wrap
				i._icon-1
			._col
				._name современное оборудование
				._text ДЛЯ ВАС ТОЛЬКО ВЫСОКОКАЧЕСТВЕННОЕ ОБОРУДОВАНИЕ, НАДЕЖНАЯ АМУНИЦИЯ И ПРОВЕРЕННЫЕ ШАРЫ С БЕЗОПАСНОЙ КРАСКОЙ
		._item
			._icon-wrap
				i._icon-2
			._col
				._name 2 крытые площадки
				._text ПРИХОДИТЕ К НАМ В ЛЮБУЮ ПОГОДУ, КРЫТЫЕ ПЛОЩАДКИ УКРОЮТ ВАС ОТ ДОЖДЯ, ХОЛОДА И ВЕТРА
		._item
			._icon-wrap
				i._icon-3
			._col
				._name самый престижный и опытный клуб города
				._text ДЛЯ НАС ВЫ И ВАШИ ДРУЗЬЯ - ПОЧЕТНЫЕ ГОСТИ
		._item
			._icon-wrap
				i._icon-4
			._col
				._name удобное местоположение
				._text ВЫ ЛЕГКО ДОБЕРЕТЕСЬ ДО НАС ИЗ ЛЮБОГО УГОЛКА ГОРОДА
		._item
			._icon-wrap
				i._icon-5
			._col
				._name 8 игровых площадок
				._text ВСЕМ ХВАТИТ МЕСТА, БОЛЬШИЕ ПЛОЩАДКИ ОБОРУДОВАНЫ ДОЛЖНЫМ ОБРАЗОМ, ВЫБИРАЙТЕ ДЛЯ СЕБЯ ЛУЧШУЮ