mixin slogan()
	h1.slogan&attributes(attributes)
		span._text-1 будет жарко!
		span._text-2 игра в пейнтбол
		span._text-3 +
		span._text-4 активный отдых
		span._text-5 заставят вас забыть<br> о серых буднях