mixin nav()
	nav.nav&attributes(attributes)
		a._link(href="#tariff") тарифы
		a._link(href="#event") акции
		a._link(href="#field") площадки
		a._link(href="#about") о нас
		a._link(href="#gallery") галерея
		a._link(href="#review") отзывы