mixin event-features()
	.event-features&attributes(attributes)
		._item
			._text СТРЕЛЯЙ НА ПОРАЖЕНИЕ! ДАЛЬНОСТЬ ВЫСТРЕЛА ДО 50 М
		._item
			._text ИГРАЙ И ВЫИГРЫВАЙ! ИГРА ДЛИТСЯ В СРЕДНЕМ 2,5 ЧАСА
		._item
			._text ПРИХОДИТЕ ВСЕЙ СЕМЬЕЙ. У НАС ЕСТЬ ИГРЫ ДЛЯ ДЕТЕЙ С 6-ТИ ЛЕТ
		._item
			._text БЬЕТ ПО ЦЕЛИ, НО НЕ ПО СЕМЕЙНОМУ БЮДЖЕТУ. ДОКУПКА ШАРОВ ОТ 70 КОП ДО 2 РУБ
		._item
			._text 100 КОМПЛЕКТОВ ОБОРУДОВАНИЯ К ВАШЕМУ РАСПОРЯЖЕНИЮ