mixin workflow()
	section.workflow#workflow&attributes(attributes)
		h2._title как мы работаем
		._list
			._item
				._number 1
				._text ВЫ МОЖЕТЕ ПРЯМО СЕЙЧАС ОСТАВИТЬ ЗАЯВКУ НА НАШЕМ САЙТЕ
			._item
				._number 2
				._text НАШ МЕНЕДЖЕР СВЯЖЕТСЯ С ВАМИ ОЧЕНЬ БЫСТРО И УТОЧНИТ ДАТУ ИГРЫ. МОЖЕТЕ ЗАДАТЬ ИНТЕРЕСУЮЩИЕ ВОПРОСЫ
			._item
				._number 3
				._text МЫ ВСТРЕТИМ ВАС НА ПОЛИГОНЕ И ВЫДАДИМ ВСЮ НЕОБХОДИМУЮ АМУНИЦИЮ И ОБОРУДОВАНИЕ ДЛЯ ИГРЫ
			._item
				._number 4
				._text ЗАПИСЫВАЕМ ИГРОКОВ И ДЕЛИМ НА КОМАНДЫ
			._item
				._number 5
				._text ВЫ ПРОХОДИТЕ ИНСТРУКТАЖ. И ВПЕРЕД!
			._item
				._number 6
				._text ВЕСЕЛЬЕ, МОРЕ ЭМОЦИЙ И ЛУЧШИЙ КЛУБ ДЛЯ ВАС