
include ../../blocks/header/header
include ../../blocks/action/action
include ../../blocks/navbar/navbar
include ../../blocks/features/features
include ../../blocks/slogan/slogan
include ../../blocks/form/form
include ../../blocks/nav/nav
include ../../blocks/logo/logo
include ../../blocks/callback/callback
include ../../blocks/tariff/tariff
include ../../blocks/event/event
include ../../blocks/event-features/event-features
include ../../blocks/field/field
include ../../blocks/workflow/workflow
include ../../blocks/gallery/gallery
include ../../blocks/review/review
include ../../blocks/capture/capture
include ../../blocks/about/about
include ../../blocks/footer/footer
include ../../blocks/popup-form/popup-form
include ../../blocks/page-up/page-up
include ../../blocks/popup-success/popup-success