mixin review()
	section.review#review&attributes(attributes)
		h2._title отзывы
		._list
			._item
				img._photo(src="assets/images/review/1.jpg" alt="")
				._name Ваха Воркутинский
				._text Шикарный клуб "Extreme Base", что тут еще скажешь)). Организация, инвентарь, площадки - ВСЕ НА ВЫСШЕМ УРОВНЕ!!!! Спасибо Вам, за то что Вы есть, и за то что Вы дарите Нам море позитивных эмоций, и возможность отвлечься от городской суеты)). На вечно Ваш клиент:)
			._item
				img._photo(src="assets/images/review/2.jpg" alt="")
				._name Алексей Сошкин
				._text Первый раз играл в пейнтбол 20 декабря 2014))). Мне повезло, я случайно выбрал клуб "Extreme Base". Сейчас это моё основное увлечение! Я хожу на тренировки, планирую попробовать свои силы на соревнованиях. Всё это благодаря ребятам организаторам)). Респект! Они создают такие условия, комфорт и поддержку - игра становится "чистым кайфом", так же любой вопрос не остаётся без внимания! Рекомендую площадки на левом и конечно на Нансена))). Это наш любимый и уже родной клуб!!!
			._item
				img._photo(src="assets/images/review/3.jpg" alt="")
				._name Рома Сошкин
				._text Клуб супер. Играю там регулярно!!! Организаторы не только предоставляют хорошие площадки, но и видно что они любят "Пейнтбол" (за что отдельная благодарность).
			._item
				img._photo(src="assets/images/review/4.jpg" alt="")
				._name Андрей Гайворонский
				._text После посещения клуба "Extreme Base" я очень полюбил пейнтбол). Здесь можно получить много адреналина и захватывающих эмоций. Отличное место для проведения времени с друзьями/семьей!
			._item
				img._photo(src="assets/images/review/5.jpg" alt="")
				._name Станислав Подопригора
				._text Отличный клуб, играем командой на турнирах. Удобный пит, тёплая и вместительная раздевалка, отличное поле!)