mixin event()
	section.event#event&attributes(attributes)
		+event-features()
		._row
			._col
				._text ОТПРАЗДНУЙТЕ СВОЙ ДЕНЬ РОЖДЕНИЯ НА ПЛОЩАДКЕ И ПОЛУЧИТЕ В ПОДАРОК 500 ШАРОВ!!! ЭТОТ ПРАЗДНИК СТАНЕТ САМЫМ ЛУЧШИМ!
				+action()
			+form()