mixin footer()
	footer.footer#footer&attributes(attributes)
		._row
			._map
				iframe._iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Aef4f78e37e8562b2ce71e72ecb8dcd955425cc21dab5ec4e5d73d522df9fe450&amp;source=constructor")
			._col
				._text <span class="red">АДРЕС:</span> РОСТОВ-НА-ДОНУ, ЛЕВЫЙ БЕРЕГ, ЧЕМОРДАЧКА, 113, С/Б ЭКСТРИМ
				._text <span class="red">ТЕЛЕФОН:</span> 8(863) 256-43-66
				._text <span class="red">E-MAIL:</span> DP@PB61.RU
		._note * ИГРА СО СВОИМИ ШАРАМИ ВОЗМОЖНА ТОЛЬКО ПРИ ВЫБОРЕ ТАРИФА "МОЖНО СО СВОИМ!". ПРИДЯ СО СВОЕЙ КОМПАНИЕЙ В КЛУБ, ВЫ МОЖЕТЕ ВЫБРАТЬ ТОЛЬКО ОДИН ТАРИФ НА ВСЕХ.